<body></body>
<div class="row">
    <div class="container">
        <h2 class="my-3">khôi phục Dịch Vụ </h2>
        <a class="btn btn-outline-success float-end mb-3" href="/admin">Trở về</a>
        <table class="table text-center align-middle">
            <thead>
                <th>ID</th>
                <th>Hình</th>
                <th class="text-start">Tên</th>
                <th class="text-start">Ngày tạo</th>
                <th class="text-start">mục</th>
                <th class="text-end">Giá</th>
                <th class="text-end"></th>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this._id}}</td>
                    <td><img src="{{this.image}}" alt="" style="width:40px;height: 40px;" class="rounded-3">
                    </td>
                    <td class="text-start">{{this.name}}</td>
                    <td class="text-start">{{this.createdAt}}</td>
                    <td class="text-start">{{this.slug}}</td>
                    <td class="text-end">{{this.price}}$</td>
                    <td class="text-end">
                        <button class="btn btn-outline-success mt-2"><a style="text-decoration: none;"
                                href="/admin/restore/{{this._id}}">Khôi phục</a></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>

</body>